@import "tailwindcss";

@theme {
  --color-heroBg: #0e1122;
  --color-para: rgb(0 0 0 / 80%);
  --color-primary: #06a055;

  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Syne", sans-serif;
}
